<footer class="page-footer font-small indigo">

  <div class="container">

    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a  mat-button (click)="openAbout()" >A propos</a>
        </h6>
      </div>


      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a mat-button >Aide</a>
        </h6>
      </div>
 
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a mat-button>Contact</a>
        </h6>
      </div>

    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Visual Cert Exam est un outil qui vous permet de créer des examens numériques aisément.</p>
      </div>

    </div>
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">



  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright: DorraY  </div>

</footer>
