<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Enoncé</th>
      <th scope="col">Ordre</th>
      <th scope="col">Chapitre</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let question of questionsArray">
      <th scope="row"> {{question.quText}}  </th>
      <td>  {{question.quOrdre}}  </td>
      <td> {{question.quChCode.chNom}} </td>
      <!-- <td> 
        <button type="button" mat-button 
         (click)="deleteExam(exam.exId)"
        class="btn btn-sm btn-block btn-danger " >Supprimer
        </button>   
      </td>
      <td>
        <button (click)="updateExam(exam.exId)" 
        type="button" mat-button class="btn btn-sm 
        btn-block btn-success ">
          Modifier
        </button>
      </td> -->
    </tr>

  </tbody>
</table>

