
<div class="container my-4">
  <div class="border border-light p-3 mb-4">
    <div class="d-flex align-items-center flex-column justify-content-center h-100">
      <form novalidate [formGroup]="QuestionForm" 
      (ngSubmit)="onSubmit()" #qform="ngForm">
            <table class="form-size">

              <div class="container">

                <div class="row text-center d-flex justify-content-between pt-5 mb-3">
            
                  <div class="col-md-2 mb-3">
                    <p> 
                      <td >
                        <mat-form-field class="form-group">
                          <textarea matInput formControlName="question" 
                          placeholder="Question"  rows="10">  
                          </textarea>
                          <mat-error *ngIf="formErrors.question" > {{formErrors.question}} </mat-error>
                          <mat-error *ngIf="QuestionForm.get('question').touched &&!formErrors.question" >Une question est obligatoire</mat-error>
                        </mat-form-field>
                      </td>
                    </p>
                  </div>
            
                  <div class="col-md-2 mb-3">
                    <p>
                      <td >
                        <mat-form-field class="form-group">
                          <input  required matInput formControlName="chapitre" 
                          placeholder="Chapitre" type="text">
                          <mat-error *ngIf="formErrors.chapitre" > {{formErrors.chapitre}} </mat-error>
                          <mat-error *ngIf="QuestionForm.get('chapitre').touched &&!formErrors.chapitre" >Un chapitre est obligatoire</mat-error>
                        </mat-form-field>
                      </td>
                    </p>
                  </div>
             
                  <div class="col-md-2 mb-3">
                    <p>
                      <td >
                        <mat-form-field class="form-group">
                          <textarea matInput formControlName="explication" 
                          placeholder="Explication"  rows="10">  
                          </textarea>

                          <mat-error *ngIf="formErrors.explication" > {{formErrors.explication}} </mat-error>
                          <mat-error *ngIf="QuestionForm.get('explication').touched &&!formErrors.explication" >Une explication est obligatoire</mat-error>
                        </mat-form-field>
                      </td>
                    </p>
                  </div>
            
                </div>
              </div>





              
              <div class="container" formGroupName="reponses">
                <div class="row text-center d-flex justify-content-between pt-5 mb-3">
                  <div class="col-md-2 mb-3" formGroupName="reponse1">
                    <h6 class="font-weight-bold">
                              <label for="">Réponse 1</label>
                              <mat-form-field class="form-group ">
                                <textarea required matInput formControlName="enonce1" 
                                placeholder="Saisir la réponse" rows="5">  
                                </textarea>   
                                <!-- <mat-error *ngIf="QuestionForm.get('enonce1').touched">dada</mat-error> -->
                                <mat-error *ngIf="formErrors.reponses">  {{formErrors.reponses}}    </mat-error>
                              </mat-form-field>
                              <input  formControlName="reponseCorrecte1" type="checkbox" name="Rep1"  >

                    </h6>
                  </div>
            
                  <div class="col-md-2 mb-3" formGroupName="reponse2">
                    <h6 class="font-weight-bold">
                              <label for="">Réponse 2</label>
                              <mat-form-field class="form-group ">
                                <textarea  required matInput formControlName="enonce2" 
                                placeholder="Saisir la réponse" rows="5">  
                                </textarea>   
                              </mat-form-field>
                              <input formControlName="reponseCorrecte2" type="checkbox" name="Rep2"  >



            
                    </h6>
                  </div>

                  <div class="col-md-2 mb-3" formGroupName="reponse3">
                    <h6 class="font-weight-bold">
                      <label for="">Réponse 3</label>
                              <mat-form-field class="form-group ">
                                <textarea required matInput formControlName="enonce3" 
                                placeholder="Saisir la réponse" rows="5">  
                                </textarea>   

                              </mat-form-field>
                              <input  formControlName="reponseCorrecte3" type="checkbox" name="Rep3"  >


            
                    </h6>
                  </div>
             
                  <div class="col-md-2 mb-3" formGroupName="reponse4">
                    <h6 class="font-weight-bold">
                      <label for="">Réponse 4</label>

                              <mat-form-field class="form-group ">
                                <textarea required matInput formControlName="enonce4" 
                                placeholder="Saisir la réponse" rows="5">  
                                </textarea>   
                              </mat-form-field>
                              <input  formControlName="reponseCorrecte4" type="checkbox" name="Rep4"  >
    
                    </h6>
                  </div>
            
                </div>
              </div>

              

              <div class="container">

                <div class="row text-center d-flex justify-content-between pt-5 mb-3">
            
                  <div class="col-md-2 mb-3">
                          <button type="submit"  mat-button class="btn btn-lg  btn-block btn-success " 
                          [disabled]="QuestionForm.invalid">Valider examen
                        </button>
                  </div>
            
            
                  <div class="col-md-2 mb-3">
                        <button type="button" mat-button class="btn btn-lg  btn-block btn-danger " 
                        onclick="reset()" >Reset question
                        </button> 
                  </div>
             
                  <div class="col-md-2 mb-3">
                        <button type="submit" mat-button 
                        class="btn btn-lg btn-block btn-success " 
                        [disabled]="QuestionForm.invalid" >Ajout question
                        </button> 
                  </div>
                </div>
              </div>
            </table>
      </form>
    </div>
  </div>
</div>