

<div class="container my-4">
  <div class="border border-light p-3 mb-4">
    <div class="d-flex align-items-center flex-column justify-content-center h-100">
      <form novalidate [formGroup]="QuestionForm" 
      (ngSubmit)="onSubmit()" #qform="ngForm">
            <table class="form-size">
              <p>
                <td >
                  <mat-form-field class="form-group">
                    <textarea matInput formControlName="question" 
                    placeholder="Saisir la question"  rows="10">  
                    </textarea>
                    <mat-error *ngIf="formErrors.question" > {{formErrors.question}} </mat-error>
                    <mat-error *ngIf="QuestionForm.get('question').touched &&!formErrors.question" >Une question est obligatoire</mat-error>

                  </mat-form-field>
                </td>
              </p>



              <div class="container">

                <div class="row text-center d-flex justify-content-between pt-5 mb-3">
            
                  <div class="col-md-2 mb-3">
                    <h6 class="font-weight-bold">
                              <label for="">Réponse 1</label>
                              <mat-form-field class="form-group ">
                                <textarea matInput formControlName="reponses" 
                                placeholder="Saisir la réponse" rows="5">  
                                </textarea>   
                              </mat-form-field>

            
                    </h6>
                  </div>
            
            
                  <div class="col-md-2 mb-3">
                    <h6 class="font-weight-bold">
                              <label for="">Réponse 2</label>
                              <mat-form-field class="form-group ">
                                <textarea matInput formControlName="reponses" 
                                placeholder="Saisir la réponse" rows="5">  
                                </textarea>   
                              </mat-form-field>

            
                    </h6>
                  </div>

                  <div class="col-md-2 mb-3">
                    <h6 class="font-weight-bold">
                      <label for="">Réponse 3</label>
                              <mat-form-field class="form-group ">
                                <textarea matInput formControlName="reponses" 
                                placeholder="Saisir la réponse" rows="5">  
                                </textarea>   
                              </mat-form-field>

            
                    </h6>
                  </div>
             
                  <div class="col-md-2 mb-3">
                    <h6 class="font-weight-bold">
                      <label for="">Réponse 4</label>

                              <mat-form-field class="form-group ">
                                <textarea matInput formControlName="reponses" 
                                placeholder="Saisir la réponse" rows="5">  
                                </textarea>   
                              </mat-form-field>
    
                    </h6>
                  </div>
            
                </div>
              </div>

              <div class="container">

                <div class="row text-center d-flex justify-content-between pt-5 mb-3">
            
                  <div class="col-md-2 mb-3">
                          <button type="submit"  mat-button class="btn btn-lg  btn-block btn-success " 
                          [disabled]="QuestionForm.invalid">Valider examen
                        </button>
                  </div>
            
            
                  <div class="col-md-2 mb-3">
                        <button type="button" mat-button class="btn btn-lg  btn-block btn-danger " 
                        onclick="reset()" >Reset question
                        </button> 
                  </div>
             
                  <div class="col-md-2 mb-3">
                        <button type="button" mat-button class="btn btn-lg btn-block btn-success " 
                        onclick="reset()" >Ajout question
                        </button> 
                  </div>
            
                </div>
              </div>

            </table>
            

      </form>
    </div>

  </div>
</div>