

<div class="container my-4">
  <div class="border border-light p-3 mb-4">
    <div class="d-flex align-items-center flex-column justify-content-center h-100">
      <form novalidate [formGroup]="ExamenForm" 
      (ngSubmit)="onSubmit()" #eform="ngForm">
            <table class="form-size">
              <p>
                <td >
                  <mat-form-field class="form-group">
                    <input  required matInput formControlName="nom" 
                    placeholder="Saisir nom d'examen" type="text">
                    <mat-error *ngIf="formErrors.nom" > {{formErrors.nom}} </mat-error>
                    <mat-error *ngIf="ExamenForm.get('nom').touched &&!formErrors.nom" >Le nom est obligatoire  </mat-error>

                  </mat-form-field>
                </td>
              </p>

              <!-- <p>
                <td>
                  <mat-form-field class="form-group">
                    <input  matInput formControlName="newTheme" 
                    placeholder="Saisir un nouveau thème" type="text">
                    <mat-error *ngIf="formErrors.theme" > {{formErrors.theme}} </mat-error>
                    <mat-error *ngIf="ExamenForm.get('theme').touched &&!formErrors.theme" >Le thème est obligatoire  </mat-error>

                  </mat-form-field>
                </td>
              </p> -->

              <p>
                <td>
                  <mat-form-field class="form-group">
                    <mat-select required placeholder="Choisir le thème" formControlName="theme" >
                      <mat-option *ngFor="let theme of themes" [value]="theme">
                        {{ theme }}
                      </mat-option>
                    </mat-select>       
                    <mat-error *ngIf="formErrors.theme" > {{formErrors.theme}}</mat-error>     
                    <mat-error *ngIf="ExamenForm.get('theme').touched &&!formErrors.theme" >Le thème est obligatoire  </mat-error>

                  </mat-form-field>
                </td>
              </p>

              <p>
                <td >
                  <mat-form-field class="form-group">
                    <input pattern="[0-9]*"  required matInput formControlName="temps" 
                    placeholder="Saisir durée d'examen" type="number">
                    <mat-error *ngIf="formErrors.temps" >  {{formErrors.temps}}  </mat-error>
                    <mat-error *ngIf="ExamenForm.get('temps').touched &&!formErrors.temps" >La durée est obligatoire  </mat-error>

                  </mat-form-field>
                </td>
              </p>

              <p>
                <td >
                  <mat-form-field class="form-group">
                    <input pattern="[0-9]*"   required matInput formControlName="score" 
                    placeholder="Saisir score essentiel pour passer l'examen" type="number">
                    <mat-error *ngIf="formErrors.score" > {{formErrors.score}}  </mat-error>
                    <mat-error *ngIf="ExamenForm.get('score').touched &&!formErrors.score" >Le score est obligatoire  </mat-error>
                  </mat-form-field>
                </td>
              </p>
              <button type="submit"  mat-button class="btn btn-lg btn-block btn-success " 
              [disabled]="ExamenForm.invalid">Valider
              <!-- <a routerLink="/questions-interface" routerLinkActive="active"> Valider</a> -->
            </button>
            <button type="button" mat-button class="btn btn-lg btn-block btn-danger " 
            onclick="reset()" >Reset
            </button>
            </table>
            



      </form>
    </div>

  </div>
</div>