

<div class="container my-4">
  <div class="border border-light p-3 mb-4">
    <div class="d-flex align-items-center flex-column justify-content-center h-100">
      <form novalidate [formGroup]="ExamenForm" 
      (ngSubmit)="onSubmit()" #eform="ngForm">
            <table class="form-size">
              <p>
                <td >
                  <mat-form-field class="form-group">
                    <input pattern="[a-z,A-Z]*"  required matInput formControlName="nom" 
                    placeholder="Saisir nom d'examen" type="text">
                    <mat-error *ngIf="ExamenForm.get('nom').touched" >Nom requis</mat-error>
                  </mat-form-field>
                </td>
              </p>

              <p>
                <td>
                  <mat-form-field class="form-group">
                    <input  matInput formControlName="theme" 
                    placeholder="Saisir un nouveau thème" type="text" [(ngModel)]="existe" [value]="theme">
                    <mat-error *ngIf="themes.includes(value)" >Thème existe dejà. Veuillez consulter la liste ci dessous.</mat-error>
                  </mat-form-field>
                </td>
              </p>

              <p>
                <td>
                  <mat-form-field class="form-group">
                    <mat-select required placeholder="Choisir le thème" formControlName="theme" >
                      <mat-option *ngFor="let theme of themes" [value]="theme">
                        {{ theme }}
                      </mat-option>
                    </mat-select>       
                    <mat-error *ngIf="ExamenForm.get('theme').touched" >Thème requis.</mat-error>     
                  </mat-form-field>
                </td>
              </p>

              <p>
                <td>
                  <mat-form-field class="form-group">
                    <input  matInput formControlName="temps" 
                    placeholder="Saisir la durée" type="number"  required [value]="temps" pattern="[0-9]*">
                    <mat-error *ngIf="themes.includes(value)" >Thème existe dejà. Veuillez consulter la liste ci dessous.</mat-error>
                  </mat-form-field>
                </td>
              </p>

              <p>
                <td>
                  <mat-form-field class="form-group">
                    <input  matInput formControlName="score" 
                    placeholder="Saisir le score nécessaire pour réussir" required type="number"  [value]="score" pattern="[0-9]*">
                    <mat-error *ngIf="themes.includes(value)" >Thème existe dejà. Veuillez consulter la liste ci dessous.</mat-error>
                  </mat-form-field>
                </td>
              </p>

            </table>
            <button type="submit" mat-button class="background-primary" 
            [disabled]="ExamenForm.invalid">Valider</button>
      </form>
    </div>

  </div>
</div>