<mat-toolbar color="primary"> <span>Visual Cert Exam Desginer</span> </mat-toolbar>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-rfs/bootstrap-rfs.css">


<div class="container my-4">
  <div class="border border-light p-3 mb-4">
    <h2 class="display-4">Bienvenue</h2>
    <button type="button" class="btn btn-lg btn-block btn-dark " style="margin-top: 200px;">Créer un nouveau
      examen</button>
      <button type="button" class="btn btn-lg btn-block btn-dark ">Ouvrir un examen existant</button>  
  </div>
</div>

<app-footer></app-footer>
